name: Cypress Tests

on: push

jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    steps:
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Install bun
        uses: oven-sh/setup-bun@v2
      - name: Checkout
        uses: actions/checkout@v4
      # Install npm dependencies, cache them correctly
      # and run all Cypress tests
      - name: Install dependencies
        run: bun i
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          start: bun run e2e:headless
